<div class="container mt-4">
    <div class="row align-items-center">
        <div class="col-9  m-auto">
            <div class="row ">
                <div class="col-2 col-sm-1"
                    style=" margin-top: 15px; width: 40px;height: 40px; border-radius: 12px; background-image: linear-gradient(to bottom right, rgb(0, 8, 255) , rgb(81, 189, 225))">
                    <fa-icon [icon]="fauser" style="color: white; font-size: 25px;margin-left: -7px;" />
                </div>
                <div class="col-5 col-md-4 col-lg-3">
                    <h4><b>Meetings</b></h4>
                    <p>{{todaymeetingdata.length}} upcoming</p>
                </div>
                <div class="col-5 col-md-7 col-lg-8 text-end ">
                    <button (click)="onaddEvents()" class="bg-danger text-white"
                        style="font-size: px;width: 140px; margin-bottom: 10px; border:none;border-radius: 10px;padding: 5px 10px; background-image: linear-gradient(to bottom right, rgb(0, 8, 255) , rgb(81, 189, 225));">+New
                        Meeting</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-9  m-auto">
            <p class="ps-2">Upcoming</p>
            <div class="row">
            
                @for (item of todaymeetingdata; track $index) {
                    <div class="col-12 col-md-6 mb-3">
                        <div class="shadow p-2 h-100" style="border-radius:10px;">
                            <div class="row ">
                            <div class="col-2 col-sm-1"
                                style=" margin-top: 15px;margin-left: 25px; width: 30px;height: 30px; border-radius: 5px; background-image: linear-gradient(to bottom right, rgb(0, 8, 255) , rgb(81, 189, 225))">
                                <fa-icon [icon]="favideo" style="color: white; font-size: 17px;margin-left: -7px;" />
                            </div>
                            <div class="col-7 col-sm-8">
                                <p style="font-size: 12px; font-weight: bold;display: inline;">{{item.meetingtitle}}</p>
                                <p style="margin: 0;font-size: 12px;"><fa-icon [icon]="facalendar"/>{{item.meetingDate}} <fa-icon [icon]="fastopwatch" />{{item.meetingduraction}}</p>
                                <button
                                    style="margin-bottom: 10px;font-size: 12px; border-radius: 25px; border:none;color: rgb(0, 21, 255); background-color: rgb(130, 206, 244);">scheduled</button>
                            </div>
                            <div class="col-3 col-sm-2 text-end">
                                <button (click)="onEdit(item)" style="background-color: white; ; margin-bottom: 10px; border:none;">
                                    <fa-icon [icon]="faPenToSquare" style="color: black;" /></button>
                                <button (click)="onDeletemeeting(item.id)"
                                    style="background-color: white; margin-left:0%; margin-bottom: 10px; border:none;">
                                    <fa-icon [icon]="fatrashcan" style="color: red;" /></button>
                            </div>
                        </div>
                        </div>
                        
                    </div>
                }
                <p style="color: gray;">past Meetings</p>
                
                @for (item of pastMeetingsdate; track $index) {
                    <div class="col-12 col-md-6 mb-3">
                        <div class="shadow p-2 h-100" style="border-radius:10px;">
                            <div class="row ">
                                <div class="col-2 col-sm-2"
                                    style=" margin-top: 15px;margin-left: 25px; width: 30px;height: 30px; border-radius: 5px; background-image: linear-gradient(to bottom right, rgb(0, 8, 255) , rgb(81, 189, 225))">
                                    <fa-icon [icon]="favideo" style="color: white; font-size: 17px;margin-left: -7px;" />
                                </div>
                                <div class="col-5">
                                    <p style="font-size: 12px; font-weight: bold;display: inline;">{{item.meetingtitle}}</p>
                                    <p style="margin: 0;font-size: 12px;"><fa-icon [icon]="facalendar" />{{item.meetingDate}}<fa-icon
                                            [icon]="fastopwatch" />{{item.meetingduraction}}</p>
                                    <button
                                        style="margin-bottom: 10px;font-size: 12px; border-radius: 25px; border:none;color: rgb(0, 21, 255); background-color: rgb(130, 206, 244);">scheduled</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                }
                    
            </div>
            
        </div>
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">ADD Meetings</h4>
                <button type="button" (click)="onCloseEvents()" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="/action_page.php">
                    <div class="mb-3 mt-3">
                        <label for="title"  class="form-label">MeetingTitle</label>
                        <input type="text"[(ngModel)]="meetingObj.meetingtitle"  class="form-control" id="title"
                            placeholder="Enter Title" name="meetingtitle">
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">Date:</label>
                        <input type="date"[(ngModel)]="meetingObj.meetingDate"  class="form-control" id="date"
                            placeholder="Enter date" name="meetingDate">
                    </div>
                    <div class="mb-3">
                        <label for="duraction" class="form-label">Duraction:</label>
                        <input type="type" [(ngModel)]="meetingObj.meetingduraction" class="form-control" id="date" placeholder="Enter Duraction"
                            name="meetingduraction">
                    </div>
                    
                    <button class="btn btn-primary me-2" (click)="onSavemeeting()">Save Event</button>
                    
                    <button class="btn btn-primary me-2" (click)="onUpdatemeeting(meetingObj.id)">update Event</button>
                    
                    

                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" (click)="onCloseEvents()" class="btn btn-danger"
                    data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>