.btn-setting{
    border: none;
    background-color: rgb(246, 246, 246);;
}
.btn-setting:hover,
.btn-setting.selected{
    border-radius:15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-check-input {
    width: 3rem;
    height: 1.5rem;
    cursor: pointer;
    border: 1px solid gray;
}

